@import "tailwindcss";

:root {
  --color-bg: #F8F8F8;
  --color-text: #0F0F0F;
  --color-gray: #CFCFCF;
  --color-accent: #FF5C00;
  --color-accent-hover: #e65000;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.bg-zeine {
  background-color: var(--color-bg);
}

.text-zeine {
  color: var(--color-text);
}

.text-zeine-gray {
  color: var(--color-gray);
}

.bg-button {
  background-color: var(--color-accent);
  color: white;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.bg-button:hover {
  background-color: var(--color-accent-hover);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.btn-login {
  background-color: var(--color-accent);
  color: white;
  height: 4rem;
}

.btn-register-login {
  background-color: inherit;
  color: var(--color-accent);
  height: 2rem;
}
