/* :root {
  --color-bg: #F8F8F8;
  --color-text: #0F0F0F;
  --color-gray: #CFCFCF;
  --color-accent: #FF5C00;
  --color-accent-hover: #e65000;
} */
.product-card {
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.product-image {
    border-radius: 8px;
    object-fit: cover;
    max-height: 200px;
}

.product-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.product-description {
    font-size: 0.9rem;
    color: #555;
}

.product-price {
    display: flex;
    color: var(--foreground);
    font-weight: bold;
    width: 100%;
    justify-content: center;
    padding: 2px;
}

.product-category {
    display: flex;
    font-size: 0.8rem;
    font-style: italic;
    justify-content: center;
    padding: 2px;
}

.delete-button {
    background: #ff0000;
    color: var(--color-bg);
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    transition: 0.3s;
    max-width: 60px;
}

.delete-button:hover {
    opacity: 0.6;
    color: white;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.btn-delete-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.product-image-container {
    max-height: 200px;
}

.ativo {
    color: green;
    font-weight: bold;
}

.inativo {
    color: red;
    font-weight: bold;
}

.vendido {
    color: gray;
    font-weight: bold;
}